*{
	margin: 0;
	padding: 0;
	font-family: "Roboto";
}

/*Styling for header*/
.top-section{
	background-color: lightblue;
    height: 300px

}


header{
	padding-top: 10px;
	text-align: center;
	height: auto;
	
}


.centered-header-title{
    margin-top: 50px;
	padding: 10px;
	font-size: 3em;
}

.centered-header-subtitle{
	text-align: center;
}

/*wrapper class*/
.wrapper{
    margin: auto;
	max-width: 960px;
}

/*all navigation bar styling*/

#header-name{
    text-align: left;
    display: inline-block;
    font-size: 14pt;
    padding-left:20px;
    padding-top:20px;
}

nav{
    text-align: right;
    padding-top:20px;
}

nav ul{
    /*	padding: 10px;*/
	list-style: none;
}

nav li{
	display: inline-block;

}
nav a{
	padding: 1em;
}
nav li:first-child{
	display: inline-block;
	
}

/*Content styling begins here*/

.section-title{
    font-size: 36px;
    padding-bottom: 10px;
}
.content-about-me{
    text-align: center;
    padding: 96px 32px 96px 32px;
    font-size: 16px;
    height: auto;
}
